<header class="col-xs-12 col-md-4" id="header-content">

	<div class="header-container">

	  <a href="{{ site.url }}">
	  	<div class="logo">
	  		<img src="/assets/topher.png" alt="{{ post.title }}">
	  	</div>
	  </a>
	  <h1 class="name">Topher Young</h1>
	  <h3 class="subheader">{{ site.subhead }}</h3>
	  <p>{{ site.description }}</p>

    <a href="/assets/topherYoungResume.pdf" target="_blank" class="btn-primary">View My Resume</a>

    <div class="social">
	  	<a href="https://dribbble.com/topheryoung" target="_blank">{% include social-media-01.svg %}</a>
	  	<a href="https://github.com/ctydesign" target="_blank">{% include social-media-02.svg %}</a>
	  	<a href="https://www.linkedin.com/in/ctopheryoung" target="_blank">{% include social-media-03.svg %}</a>
	  </div>

  </div>

  <button class="btn-toggle" id="headerToggle"></button>

</header>
