<section class="portfolio-container col-xs-12 col-sm-8">

  <ul class="portfolio">
    {% for post in site.posts %}
      <li class="portfolio-item {{ post.portfolio-class }}">
        <p>{{ post.item-number }} / {{ site.posts.size }}</p>
        
        <img src="/assets/{{ post.preview-img }}" alt="">
        <div class="row">
        <div class="col-sm-9 text-left">
          <h2>{{ post.title }}</h2>
          <p>{{ post.role }}</p>
        </div>

        <div class="col-sm-3 portfolio-button">
          <!-- ADD IF statement to switch between 'view site' and 'more details' -->
          {% if post.item-url %}
          <strong><a class="post-link" href="{{ post.item-url}}">View Site</a></strong>
          {% else %}
          <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">Details</a></strong>
          {% endif %}
        </div>
        </div>
      </li>
    {% endfor %}
  </ul>

</section>