<section class="portfolio-container col-xs-12 col-sm-8" id="portfolio-container">
	<div class="post-content">
		<div class="row">
			<img src="/assets/{{ page.portfolio-class }}-header.jpg" class="img-responsive" alt="{{ post.title }}">
		</div>
		<div class="row content-meta-info">
			<div class="post-info white-text {{ page.portfolio-class }}">
				{{ content }}
			</div>
		</div>
		<div class="row back-section {{ page.portfolio-class }}">
	    <a href="{{ site.url }}" class="btn-back">Back to see other works</a>
		</div>
		<div class="row copyright">
			<p><small>&copy; 2016 Topher Young. Made in the USA.</small></p>
		</div>
	</div>
</section>