/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
html {
  background-color: $background-color;
}

.site-content {
  background-color: $content-bg-color;
  margin: 15px;
}


/**
 * Typography
 */
* {
	font-family: $base-font-family;
	color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $header-font-family;
	color: $text-color;
	text-transform: uppercase;
}

/**
 * Typography
 */
 .btn {
 	display: block;
	margin: 0 auto;
	width: 200px;
	padding: 10px;
	text-decoration: none;
	background-color: transparent;
	transition: all 150ms ease-out;

	&:hover {
		border-color: transparent;
		transition: all 150ms ease-out;
		text-decoration: none;
	}
	&:focus,
	&:active {
		outline: 0;
		text-decoration: none;
	}
 }

.btn-primary {
	@extend .btn;
	border: 2px solid #454545;
	color: #454545;

	&:hover {
		background-color: #454545;
		color: $white;
	}
}

.btn-back {
	@extend .btn;
	border: 2px solid #fff;
	color: #fff;

	&:hover {
		background-color: #fff;
 		color: #454545;
	}
}

.btn-toggle {
	position: absolute;
	background: url('../assets/collapse.png');
	background-position: center center;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	bottom: 0;
	right: 0;
	border: none;
	color: #ababab;
	background-color: transparent;
	transition: opacity 200ms ease;
	opacity: 0.5;

	&:focus {
		outline: none;
	}

	&:hover {
		transition: opacity 200ms ease;
		opacity: 1;
	}
}

.collapsed {
	.btn-toggle {
		background: url('../assets/expand.png');
		background-position: center center;
		background-size: 20px 20px;
		background-repeat: no-repeat;
	}
}

/**
 * Custom scrollbar for chrome/safair
 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: #bababa;
  border: 2px solid transparent;
}


