
/**
 * Header-sidebar styles
 */
header {
	transition: width 200ms linear;
	text-align: center;
	float: right !important;
	height: calc(100vh - 30px);

	.subheader {
		color: #c31;
		margin: 0 0 25px 0;
		font-size: 24px;
	}

	.logo {
		height: auto;
		width: 100px;
		max-width: 100px;
	}

	p {
		max-width: 325px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 35px;
	}

	img {
		transition: all 200ms linear;
		margin: 75px 0 5px 0;
	}

	.social-media {
		list-style: none;
	  margin-left: 0;

	  svg {
	  	width: 45px;
	  	height: auto;
	  }
	}

	p, .subheader, .btn-primary {
		transition: opacity 100ms linear;
		-webkit-transition: opacity 100ms linear;
		-webkit-transition-delay: 200ms; /* Safari */
	  transition-delay: 200ms;
	  opacity: 1;
	}
}

.collapsed {
	transition: width 200ms linear;
	-webkit-transition: width 200ms linear;

	p, .subheader, .btn-primary {
		transition: opacity 50ms linear;
		-webkit-transition: opacity 50ms linear;
		opacity: 0;
	};
	.logo {
		max-width: 100px;
		transition: all 200ms linear;
		width: 100%;
		margin: 15px 0 5px 0;
	}
}


 .internal-header {
 	height: calc(100vh - 30px);

 	.subheader {
 		transform: rotate(-90deg);
    position: relative;
    bottom: 0;
    width: 300px;
 	}
	.btn-back {
		width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 10px 0;
	}

 }