
/**
 * Header-sidebar styles
 */
 header {
 	text-align: center;
 	float: right !important;

 	.subheader {
 		color: #c31;
 		margin: 0 0 25px 0;
 		font-size: 24px;
 	}

 	.logo {
 		height: auto;
 		width: 220px;
 	}
	
	p {
		max-width: 325px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 35px;
	}

	img {
		margin: 75px 0 5px 0;
	}

	.social-media {
		list-style: none;
    margin-left: 0;

    svg {
    	width: 45px;
    	height: auto;
    }
	}
 }


 .internal-header {
 	height: calc(100vh - 30px);

 	.subheader {
 		transform: rotate(-90deg);
    position: relative;
    bottom: 0;
    width: 300px;
 	}
	.btn-back {
		width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: transparent;
    padding: 10px 0;
	}

 }