/**
 * Portfolio Layout classes
 */
.portfolio-container {
	padding: 0;

	.portfolio {
		height: calc(100vh - 30px);
		overflow: auto;
		margin: 0;

		.portfolio-item {
			padding: 25px;

			img {
				width: 100%;
				margin: 0 auto;
			}

			.img-link {
				display: block;
			}

			.item-details {
				text-align: left;
			}
		}
	}
}

/**
 * Portfolio Item button
 */
.portfolio-button {
	text-align: right;

	a {
    display: block;
    width: 100%;
    border: 2px solid #343434;
    padding: 10px;
    color: #343434;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 150ms ease-out;
		
		&:hover {
			background-color: rgba(255,255,255,0.8);
			border-color: transparent;
			text-decoration: none;
			transition: all 150ms ease-out;
		}
	}
}

/**
 * Portfolio Item classes
 */
.tnp { background-color: #ff5b35; }
.bb { background-color: #ffcc56; }
.bge { background-color: #44a347; }
.mgtt { background-color: #58bde9; }
.soco { background-color: #82151e; }
.marvin { background-color: #3a3a3c; }
.mtpleasant { background-color: #00c1b8; }
.cantey { background-color: #a8d38c; }

.white-text {
	* {
		color: $white; 
	}
	
	.portfolio-button a {
		border-color: $white;
		color: $white;

		&:hover {
			border-color:transparent;
			color: #454545;
		}
	}
}

.expanded {
}